abduct
attrdict
configobj
diskcache
pygithub
gitpython
humanfriendly
logging2
mendeleev
numpy
objsize
openpyxl >= 2.6.1
pint >= 0.9
pronto
pyexcel >= 0.5.9.1
# avoid a bug in pyexcel_io 0.4.1; see https://github.com/pyexcel/pyexcel/issues/89
pyexcel_io >= 0.5.9.1
pyyaml >= 5.1
qualname
requests
setuptools
six
xlsxwriter
