abduct
attrdict
configobj
diskcache
enum34
gitpython
log >= 2016.10.12
mendeleev
numpy
openpyxl >= 2.6.1
pint >= 0.9
pronto
pyexcel >= 0.5.9.1
# avoid a bug in pyexcel_io 0.4.1; see https://github.com/pyexcel/pyexcel/issues/89
pyexcel_io >= 0.5.9.1
pyyaml
qualname
requests
setuptools
six
xlsxwriter
