configobj
configparser
enum34
ftputil
git+https://github.com/KarrLab/log.git#egg=log >=2016.10.12
numpy
openpyxl
pint
pyexcel >= 0.5.0
pyexcel-io >= 0.4.2
PyYAML
six
Sphinx >= 1.6
sphinx_rtd_theme
sphinxcontrib-bibtex
robpol86-sphinxcontrib-googleanalytics
sphinxcontrib-spelling; python_version >= '3.0'
